{% block filters %}
    {% for filter in dataView.filters %}

    {% endfor %}
{% endblock filters %}

{% block table %}
    <table>
        <thead>
            {{ block('headings') }}
        </thead>
        <tbody>
            {{ block('results') }}
        </tbody>
    </table>
{% endblock table %}

{% block pagination %}
    <hr/>
    <span>Found {{ dataView.pager.nbResults }} records</span>
{% endblock pagination %}


{# the blocks below are used by the blocks above #}
<hr/>
{% block headings %}
    <tr>
        {% for column in dataView.columns %}
            <th>
                <label for="sort_{{ column.templateFriendlyPropertyPath }}">{{ column.label }}</label>
                <input name="sort_{{ column.templateFriendlyPropertyPath }}" value="{{ column.inverseSortOrder }}" type="submit" />
            </th>
        {% endfor %}
    </tr>
{% endblock headings %}

{% block results %}
    {% for result in dataView.pager %}
        <tr>
            {% for column in dataView.columns %}
                <td>
                    {{ attribute(dataView, 'getEntityValueByPropertyPath', [result, column.displayPropertyPath]) }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endblock results %}
